@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.E*, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.Email*, AuthoringTagHelpers
@{

    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/css/site.min.css" asp-append-version="true" />
    </environment>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="justify-content-center">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top text-center" role="navigation">
            <a class="navbar-brand" href="~/Home/Index">HRDesk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">Главная<span class="sr-only">(current)</span></a>
                    </li>            
                    @if (User.IsInRole("admin") || User.IsInRole("master"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Settings/AdminSettings">Админка</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="~/Product/Product">Товары</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 justify-content-center">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active mr-3 ml-3 text-white">@User.Identity.Name</li>
                    </ul>

                    @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new
                    {
                        enctype = "multipart/form-data"
                    }))
                    {
                        <input type="submit" value="Выход" class="btn btn btn-light" />
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link" href="~/Account/Register">Register</a></li>
                        <li><a class="nav-link" href="~/Account/Login">Log in</a></li>
                    </ul>
                }

            </div>
        </nav>
    </div>

    <!--основной контент-->
    <div class="container body-content main-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2018 - JED Lab inc.</p>
        </footer>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- <script src="~/js/site.js" asp-append-version="true"></script>-->
    </environment>
    <environment exclude="Development">
        <script asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <!--<script src="~/js/site.min.js" asp-append-version="true"></script>-->
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
