@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.E*, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.Email*, AuthoringTagHelpers
@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="..\wwwroot\lib\css\site.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="row container-fluid">
            <a class="navbar-brand" href="~/Home/Index">Sport Goods Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Спортивное питание</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Одежда
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Мужская</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Женская</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Подростки</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Settings/AdminSettings">Админка</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-5 nav-flex-icons">
                    <!-- Вариант с обычным переходом -->


                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- <li class="nav navbar-nav navbar-right">
                         <li class="active mr-3 ml-3">@User.Identity.Name</li>
                         </li>
                         -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Профиль
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">@User.Identity.Name</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Корзина</a>
                                <div class="dropdown-divider"></div>
                                @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    @class = "align-items-center"
                                }))
                                {
                                    <input type="submit" value="Выход" class="btn btn btn-outline-primary ml-3" />
                                }
                            </div>
                        </li>


                    }
                    else
                    {
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href = '../Account/Login';">
                                Вход
                            </button>
                        </li>
                        <li class="nav-item active">
                            <button type="button" class="btn  btn-primary btn-sm" onclick="location.href = '../Account/Register';">
                                Регистрация
                            </button>
                        </li>
                    }

                    <!--Вариант с диалоговыми окнами-->
                    <!--<li class="nav-item">
                        <a class="nav-link waves-effect waves-light"><i class="material-icons" title="Войти"></i></a>

                    </li>-->
                    <!--    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                                data-target="#authorization-modal" data-whatever="#">
                            Войти
                        </button>
                    </li>
                    <li class="nav-item active">
                    <li class="nav-item active">
                        <button type="button" class="btn  btn-primary btn-sm" data-toggle="modal"
                                data-target="#registration-modal" data-whatever="#">
                            Регистрация
                        </button>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <!--Login modal -->
    <div class="modal fade" id="authorization-modal" tabindex="-1" role="dialog" aria-labelledby="authorization-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authorization-label">Авторизация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="auth-login" class="col-form-label">Login:</label>
                            <input type="text" class="form-control" id="auth-login">
                        </div>
                        <div class="form-group">
                            <label for="auth-pass" class="col-form-label">Password:</label>
                            <textarea class="form-control" id="auth-pass"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Send</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Authorization modal-->
    <div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="registration-modal-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registration-modal-label">Регистрация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="register-login" class="col-form-label">Login:</label>
                            <input type="text" class="form-control" id="register-login">
                        </div>
                        <div class="form-group">
                            <label for="register-password" class="col-form-label">Password:</label>
                            <textarea class="form-control" id="register-password"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="register-pass-confirm" class="col-form-label">Confirm password:</label>
                            <textarea class="form-control" id="register-pass-confirm"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Register</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <div class="container body-content main-content">
        <footer>
            <p>© 2018 - JED Lab inc.</p>
        </footer>
    </div>
    <!--Navbar End-->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
             integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
             crossorigin="anonymous"></script>
        -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />


    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Propeller textfield js -->
    <script type="text/javascript" src="dist/js/propeller.min.js"></script>

    <!-- Datepicker moment with locales -->
    <script type="text/javascript" language="javascript" src="datetimepicker/js/moment-with-locales.js"></script>

    <!-- Propeller Bootstrap datetimepicker -->
    <script type="text/javascript" language="javascript" src="datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
            $('.carousel').carousel();
        });

        // Default date and time picker
        $('#datetimepicker-default').datetimepicker();
    </script>
</body>
</html>