
@{
    ViewData["Title"] = "FillTableView";
}

<h2>FillTableView</h2>

<h3>Таблица Секции</h3>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Секция</th>         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Sections)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Description</td>

                @if (User.IsInRole("admin"))
                {

                }



            </tr>
        }
        <!-- Scaled in -->
        <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
            <i class="material-icons">add</i>
        </a>
        <button type="button" class="btn btn-danger bmd-btn-fab">
            <i class="material-icons">grade</i>
        </button>


    </tbody>
</table>