@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.E*, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.Email*, AuthoringTagHelpers
@{
    ViewData["Title"] = "AdminSettings";
}

<h2>Страница администратора</h2>

<a asp-controller="Roles" asp-action="Roles">Распределение ролей</a><br />
<a asp-action="Users" asp-controller="Users">Управление пользователями</a><br />
<a asp-action="Manage" asp-controller="Product">Управление товарами</a><br />
<a asp-action="Index" asp-controller="FillTable">Заполнить списки</a><br />
