@model IEnumerable<HRDesk.Models.User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "UserList";
}

<h2>Список пользователей</h2>

<table class="table">
    @foreach(var user in Model)
    { 
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-summary" asp-action="Edit" asp-route-userId="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>
